<div class="animal-images">
  <img ng-src="{{img.file}}"
       class="animal"
       ng-repeat="img in letter.images"
       ng-class="{active: mainImageUrl==img.file}">
</div>



<!--<p>{{letter.description}}</p>-->

<ul class="animal-thumbs">
  <li ng-repeat="img in letter.images">
    <img ng-src="{{img.file}}" ng-click="setImage(img)">
  </li>
</ul>

  <div>
    <h1>{{mainAnimal}}</h1>
    <h2>Current Narrative: {{mainNarrative}}</h2>
    <!--<p>Selected Narrative: {{selectedItem}}</p>-->
    <select size="10" multiple ng-multiple="true" ng-click="setNarrative(selectedItem[0])" ng-model="selectedItem" \>
      <option ng-repeat="narItem in narrativeList" >{{narItem.narrative}}</option>
    </select>
    <input ng-model="nar">
    <button class='btn btn-default' ng-click="addNarrative(nar)">Add Narrative</button>
  </div>

<a href="#/bookPages">Back To Book</a>


<!--<div class="image-narratives">-->




  <!--<select size="10" multiple ng-multiple="true" ng-model="filterCondition.operator">-->
    <!--<option-->
            <!--ng-repeat="narItem in narrativeList"-->
            <!--value="{{narItem.narrative}}">-->
      <!--{{narItem.narrative}}-->
    <!--</option>-->
  <!--</select>-->
  <!--<ul>-->
    <!--<li>-->
      <!--<dl>-->
        <!--<dd ng-repeat="narItem in narrativeList">{{narItem.narrative}}</dd>-->
      <!--</dl>-->
    <!--</li>-->
  <!--</ul>-->
<!--</div>-->

<!--<ul class="">-->
  <!--<li>-->
    <!--<span>Available narratives for selected animal</span>-->
    <!--<dl>-->
      <!--<dt>Narrative</dt>-->
      <!--<dd ng-repeat="narItem in narrativeList">{{narItem.narrative}}</dd>-->
    <!--</dl>-->
  <!--</li>-->
<!--</ul>-->
