<div class="phone-images">
  <img ng-src="{{img.file}}"
       class="phone"
       ng-repeat="img in letter.images"
       ng-class="{active: mainImageUrl==img.file}">
</div>

<h1>{{letter.name}}</h1>

<p>{{letter.description}}</p>

<ul class="phone-thumbs">
  <li ng-repeat="img in letter.images">
    <img ng-src="{{img.file}}" ng-click="setImage(img)">
  </li>
</ul>

<div class="image-narratives">

  <select size="10" multiple ng-multiple="true" ng-model="filterCondition.operator">
    <option
            ng-repeat="narItem in narrativeList"
            value="{{narItem.narrative}}">
      {{narItem.narrative}}
    </option>
  </select>
  <!--<ul>-->
    <!--<li>-->
      <!--<dl>-->
        <!--<dd ng-repeat="narItem in narrativeList">{{narItem.narrative}}</dd>-->
      <!--</dl>-->
    <!--</li>-->
  <!--</ul>-->
</div>

<!--<ul class="">-->
  <!--<li>-->
    <!--<span>Available narratives for selected animal</span>-->
    <!--<dl>-->
      <!--<dt>Narrative</dt>-->
      <!--<dd ng-repeat="narItem in narrativeList">{{narItem.narrative}}</dd>-->
    <!--</dl>-->
  <!--</li>-->
<!--</ul>-->
